{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}CiberSeguro{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-hack">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}">
                [ CIBER_SEGURO ]
            </a>
            <button class="navbar-toggler border-0" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navMenu"
                    style="filter: invert(1) sepia(1) saturate(5) hue-rotate(90deg);">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav ms-auto gap-2">
                    <li class="nav-item">
                        <a class="nav-link-hack" href="{% url 'inicio' %}">inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-hack" href="{% url 'amenazas' %}">amenazas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-hack" href="{% url 'consejos' %}">consejos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container my-5">
        {% block contenido %}{% endblock %}
    </main>

    <footer class="footer-hack">
    <a href="{% url 'easter_egg' %}" class="easter-trigger">// </a>
    © 2026 CiberSeguro
    <span style="color: #00ff41; opacity: 0.4;"> — SISTEMA ACTIVO</span>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>